#first>div:nth-child(2)
{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: bold;
  font-family: sans-serif;
  width: 13%;
  cursor: pointer;
}

#first>div>span
{
  font-weight: normal;
  background-color: none;
  border: none;
  font-family: sans-serif;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: -70px;
  margin-top: 10px;
  /* border: 2px solid green; */
}
.logo>div
{
  margin-left: 25px;
}
.logo>div+p{
  font-weight: normal;
}
.logo>p{
  margin-left: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(145, 139, 139);
}
.logo>p+div{
  height: 25px;
  width: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.logo>div:nth-child(1){
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(186, 22, 236);
}
.logo>div:nth-child(1)>span{
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}
.logo>p+div>img{
  width: 50%;
  cursor: pointer;
}
.logo>p+div>img+img{
  margin-left: 10px;
}

#sidebar>div:nth-child(12)
{
   display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 12px;
}
#sidebar>div:nth-child(12)>span
{
   width: 80%;
   color: rgb(124,89,238);
}
    #sidebar{
        width: 15%;
        height : 650px;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       margin-top: 100px;
       margin-left: -5px;
    }

    #sidebar>hr{
      margin: 40px 0px 30px 0px;
      color: grey;
    }
    #sidebar>div{
        width: 90%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 15px;
        margin-left: -10px;
        align-items: center;
        cursor: pointer;
        /* border: 2px solid green; */
    }
    #sidebar>div:nth-child(1){
      /* padding: 5px; */
      margin-top: 10px;
      align-items: center;
    }
    #sidebar>div>span{
        width: 40%;
     font-size: 17px;
     margin-right: 20px;
     font-family: sans-serif;
      cursor: pointer;
    }
    #sidebar>div>img{
      width: 15%;
      border-radius: 50%;
      margin: auto;
    }
    #container
    {
      border-radius: 5px;
      width: 75%;
      height: 550px;
      margin: auto;
      margin-top: -650px;
      margin-right: 50px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 10px;
    }
    #first{
      width: 95%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
    #first
    {
      margin-bottom: 50px;
    }
    #first>div
    {
      width: 20%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-around;
    }
    #first>div>p{
      font-family: sans-serif;
      font-weight: bold;
      cursor: pointer;
    }

    #second{
      width: 95%;
      /* border: 2px solid green; */
      height: 40px;
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
    #second>div
    {
      /* border: 2px solid greenyellow; */
      display: flex;
       justify-content: space-between;
    }
    #second>div>button
    {
      margin: 5px;
      border-radius: 5px;
      background-color: rgb(229, 232, 235);
      cursor: pointer;
      color: rgb(66, 62, 62);
      font-weight: normal;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border: none;
      font-size: 18px;
      font-family: sans-serif;
      margin-left: 15px;
    }
    #second>div>button>span
    {
       color: rgb(124,89,238);
    }
    #second>div+div
    {
      width: 15%;
      display: flex;
      justify-content: space-between;
    }
    #second>div+div>input
    {
       width: 90%;
       height: 30px;
       font-weight: normal;
      border: 2px solid green;
       font-family: sans-serif;
       font-size: 18px;
       border-radius: 50px;
       border: none;
    }
    #second>div+div>img
    {
      width: 20%;
      margin-right: -10px;
      border-radius: 20%;
      cursor: pointer;
    }
    #second+hr
    {
      margin: 30px 0px 10px 0px;
      color: rgb(100, 71, 71);
    }
    #third>div
    {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    #third>div>span
    {
      font-size: 18px;
      font-family: sans-serif;
      font-weight: bold;
      color: rgb(117, 122, 115);
      cursor: pointer;
    }