body{
  display: grid;
  grid-template-columns: 1fr 4fr ;
  padding: 0;
  margin: 0;
  background-color: #f9fafb;

}
#first>div:nth-child(2)
{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

    #container
    {
      border-radius: 5px;
      width: 90%;
      height: 550px;
      margin: auto;
      /* margin-top: -650px; */
      /* margin-right: 50px; */
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 20px;
      background-color: white;
    }
    #first{
      width: 95%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
    #first
    {
      margin-bottom: 50px;
    }
    #first>div
    {
      width: 20%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-around;
    }
    #first>div>span
    {
      font-weight: normal;
      background-color: none;
      border: none;
      font-family: sans-serif;
      font-size: 25px;
      cursor: pointer;
      border-radius: 5px;
    }
    #first>div>span+span
    {
      margin-left: -20px;
    }
    #first>div>p{
      font-family: sans-serif;
      font-weight: bold;
      cursor: pointer;
    }
    #first>div>img{
      width: 12%;
      padding: 5px;
      cursor: pointer;
    }
#producttable{
  margin: 50px;

}
#product{

  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: auto;
}
tr{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
td,th{
    padding: 10px;
    color: #6b7280;
}


#customers_div{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px;
}

.productimage{
  width: 40px;
}
tr>td:nth-child(6){
  cursor: pointer;
  color: white;
  background-color: red;
}
tr>td:nth-child(6):hover{
  cursor: pointer;
  color: red;
  background-color: white;
}


#pagination_button{
  width: fit-content;
  margin: 30px auto;
  display: flex;
  gap: 5px;
}
#pagination_button>div{
  padding: 5px 10px;
  border: 1px solid #ddd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
#page{
  display: flex;
  gap: 5px;
}
#page>button{
  padding: 5px 10px;
  border: 1px solid #ddd;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  cursor: pointer;
}