* {
  /* --default-linear-gradient: linear-gradient(271.29deg,hsla(0,0%,100%,0) 14.61%, */
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
}
body {
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 150px black;
}
#container-prod {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15px;
  gap: 50px;
  margin-right: 50px;
}
#main {
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#main:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  cursor: pointer;
}
#image {
  margin: 0px 20px 0px 20px;
  width: 85%;
  height: 241px;
}
p {
  text-align: center;
}
#star {
  width: 20px;
  height: 20px;
  margin-bottom: 12px;
}
#flex {
  width: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-right: 3rem;
  padding-left: 3rem;
}
#flex:hover {
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}
#flex > p {
  margin-top: 0px;
  color: grey;
}
#btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 9px;
}
#btn:hover {
  background-color: rgb(185, 30, 30);
  cursor: pointer;
  color: white;
}
#btn1 {
  border: none;
  background-color: black;
  color: white;
  padding: 9px 50px;
}
#btn1:hover {
  background-color: rgb(185, 30, 30);

  cursor: pointer;
  color: white;
}
#flex1 {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

#displayBar {
  width: 100%;
  margin: auto;
  margin-top: 15px;
}
#divsidebyside {
  display: flex;
  width: 100%;
  margin: auto;
}
#displayitem {
  margin: 5px 5px 5px 30px;
}
.home-img {
  width: 1%;
  margin: auto;
  text-decoration: none;
}
.sort {
  display: flex;
  flex-direction: column;

  width: 12%;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  height: 650px;
}
#priceSort {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  border-radius: 2px;
  border-color: aliceblue;
  border-width: 0.5px;
  margin-bottom: 50px;
  padding: 5px;
  font-size: medium;
}
#filter {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  border-radius: 2px;
  border-color: aliceblue;
  border-width: 0.5px;
  margin-top: 50px;
  padding: 5px;
  margin-bottom: 50px;
  font-size: medium;
}
.home-img1 {
  margin: 0px 40px;
  text-decoration: none;
}
.home-img1:hover {
  color: rgb(5, 88, 255);
}
#shade {
  width: 50%;
  height: 10%;
  border-radius: 50%;
}
#shadeNo {
  margin-top: -1px;
  margin-right: 5px;
  height: 3%;
  color: grey;
}
#shadeFlex {
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
#top {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 0.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#top1image {
  height: 220px;
  width: 100%;
  filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  vertical-align: middle;
}
#top2image {
  height: 220px;

  position: absolute;
  /* background-position-x: 50%;
  background-position-y: 50%; */

  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;

  vertical-align: middle;
}
@media only screen and (min-width: 401px) and (max-width: 850px) {
  #container-prod {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
  #container-prod {
    grid-template-columns: repeat(1, 1fr);
  }
}
