* {
  /* --default-linear-gradient: linear-gradient(271.29deg,hsla(0,0%,100%,0) 14.61%, */
  box-sizing: border-box;
  /* font-family: sans-serif;
  font-size: 12px;
  font-weight: 700; */
}
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
#divsidebyside {
  display: flex;
  /* grid-template-columns: 1fr 3fr; */
  /* width: 100%; */
  /* margin: auto; */
  justify-content: space-evenly;
  border: 1px solid rgb(89, 255, 0);
  padding-top: 15px;
}
#container-prod {
  width: 75%;
  /* margin: auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 400px);
  /* margin-top: 15px; */
  gap: 20px;
  /* row-gap: 50px;
  column-gap: 50px; */
  /* justify-content: space-between; */
  /* margin-right: 50px; */
  border: 0px solid red;
}

.main {
  border-radius: 20px;
  width: 100%;
  background-color: white;
  /* padding: 0px 10px 10px 10px; */
  /* margin: 0px 20px; */
  border: 0px solid rgb(0, 4, 255);
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

}
.main:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  cursor: pointer;
 

}
.image {
display: flex;
justify-content: center;
  width:200px;
  height: 241px;
 margin: auto;
border-radius: 10px;
}


.main p {
  text-align: center;
 

}
.main>:nth-child(3){
  
  font-weight: 800;
}
#star {
  width: 20px;
  height: 20px;
  /* margin-bottom: 12px; */
  
}
#flex {
  width: 80px;
  border: 0px solid red;
 display: flex;
 justify-content: space-around;
 align-items: center;
  margin: auto;
 height: 20px;
 text-align: center;
  margin-bottom: 10px;
  /* padding-right: 3rem;
  padding-left: 3rem; */
}
#flex:hover {
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}
#flex > p {
  /* margin-top: 0px; */
  color: grey;
}
#btn {

  background-color: #fff;
  /* color: white; */
  border: 1px solid black;
  width: 50px;
  height: 50px;
  /* padding: 10px 9px; */
  border-radius: 12px;
 
}
#btn:hover {
  background-color: rgb(185, 30, 30);
  cursor: pointer;
  color: white;
  border: none;
  

}
#btn1 {
  border: none;
  background-color: black;
  color: white;
  border: 0px solid red;
  width: 180px;
  height: 100%;
  border-radius: 12px;
}
#btn1:hover {
  background-color: rgb(185, 30, 30);

  cursor: pointer;
  color: white;
}
#flex1 {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 0px solid red;
  height: 50px;
}

#displayBar {
  width: 100%;
  margin: auto;
  margin-top: 15px;
}


.home-img {
  width: 1%;
  margin: auto;
  text-decoration: none;
}

#usort{
  /* border: 1px solid red; */
  /* box-shadow: 0 2px 5px rgb(0 0 0 / 10%); */
  /* background-color: white; */
  /* border-radius: 10px; */
  width: 20%;
  /* height: fit-content; */
  /* border: 1px solid red; */
  /* box-sizing: border-box; */
  /* padding: 20px; */
  text-align: center;
  outline: none;
  border: none;
}
#sort{
 width: 100%;
  /* background-color: #fff; */
  /* outline: none;
  border: none; */
 /* background-color: green; */
 /* padding: 15px; */
}
#sort select{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
  
  font-weight: 600;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#secsort{
  width: 100%;
  /* background-color: red; */
  margin-top: 20px;
  border-radius: 10px;
 
}
#secsort select{
  width: 100%;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 18px;
  
  font-weight: 600;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#priceSort {
  background-color: white;
  /* color: black; */
  /* box-shadow: 0 2px 5px rgb(0 0 0 / 10%); */
  border: 1px solid rgb(191, 0, 0);
  /* margin-bottom: 50px; */
  /* padding: 5px; */
  /* font-size: medium; */
  outline: none;
  width: 90%;
  
  height: 40px;
  margin-top: 10px;
}
#filter {
  background-color: white;
  color: black;
  /* box-shadow: 0 2px 5px rgb(0 0 0 / 10%); */
  border: 1px solid rgb(200, 0, 0);
  width: 90%;
  /* padding: 5px; */
  /* font-size: medium; */
  height: 40px;
  margin-top: 10px;
}
.home-img1 {
  margin: 0px 40px;
  text-decoration: none;
}
.home-img1:hover {
  color: rgb(5, 88, 255);
}
#shadeFlex {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  /* border: 1px solid red; */
  font-size: 13px;
}
#shade {
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
#shadeNo {
  color: grey;
 
}

#top {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 0.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#top1image {
  height: 220px;
  width: 100%;
  filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  vertical-align: middle;
}
#top2image {
  height: 220px;

  position: absolute;
  /* background-position-x: 50%;
  background-position-y: 50%; */

  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;

  vertical-align: middle;
}
@media only screen and (min-width: 401px) and (max-width: 850px) {
  #container-prod {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
  #container-prod {
    grid-template-columns: repeat(1, 1fr);
  }
}

#mkfooter{
  margin-top: 100px;
}


