body{
    padding: 0;
    margin: 0;
}
#container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    
}
#container>div{
    border: 1px solid red;
    
}

#main{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;
    grid-template-columns: 1fr;
}

#customer{
    
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
tr{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
td,th{
    padding: 10px;
    color: #6b7280;
}

tr>td:last-child{
    cursor: pointer;
    color: white;
    background-color: red;
}
tr>td:last-child:hover{
    cursor: pointer;
    color: red;
    background-color: white;
}
#customers_div{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px;
}